@font-face {
  font-family: 'pf_encore_sans_proultra_black';
  src: url('fonts/PFEncoreSansPro-UBlack/PFEncoreSansPro-UBlack-webfont.eot');
  src: url('fonts/PFEncoreSansPro-UBlack/PFEncoreSansPro-UBlack-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-UBlack/PFEncoreSansPro-UBlack-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-UBlack/PFEncoreSansPro-UBlack-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-UBlack/PFEncoreSansPro-UBlack-webfont.ttf') format('truetype'),
  url('fonts/PFEncoreSansPro-UBlack/PFEncoreSansPro-UBlack-webfont.svg#pf_encore_sans_proultra_black') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_encore_sans_probold';
  src: url('fonts/PFEncoreSansPro-Bold/PFEncoreSansPro-Bold-webfont.eot');
  src: url('fonts/PFEncoreSansPro-Bold/PFEncoreSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-Bold/PFEncoreSansPro-Bold-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-Bold/PFEncoreSansPro-Bold-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-Bold/PFEncoreSansPro-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_encore_sans_prolight';
  src: url('fonts/PFEncoreSansPro-Light/PFEncoreSansPro-Light-webfont.eot');
  src: url('fonts/PFEncoreSansPro-Light/PFEncoreSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-Light/PFEncoreSansPro-Light-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-Light/PFEncoreSansPro-Light-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-Light/PFEncoreSansPro-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_encore_sans_prothin';
  src: url('fonts/PFEncoreSansPro-Thin/PFEncoreSansPro-Thin-webfont.eot');
  src: url('fonts/PFEncoreSansPro-Thin/PFEncoreSansPro-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-Thin/PFEncoreSansPro-Thin-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-Thin/PFEncoreSansPro-Thin-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-Thin/PFEncoreSansPro-Thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_encore_sans_problack';
  src: url('fonts/PFEncoreSansPro-Black/PFEncoreSansPro-Black-webfont.eot');
  src: url('fonts/PFEncoreSansPro-Black/PFEncoreSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-Black/PFEncoreSansPro-Black-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-Black/PFEncoreSansPro-Black-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-Black/PFEncoreSansPro-Black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_encore_sans_promedium';
  src: url('fonts/PFEncoreSansPro-Medium/PFEncoreSansPro-Medium-webfont.eot');
  src: url('fonts/PFEncoreSansPro-Medium/PFEncoreSansPro-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-Medium/PFEncoreSansPro-Medium-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-Medium/PFEncoreSansPro-Medium-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-Medium/PFEncoreSansPro-Medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_encore_sans_prothin_italic';
  src: url('fonts/PFEncoreSansPro-ThinItalic/PFEncoreSansPro-ThinItalic-webfont.eot');
  src: url('fonts/PFEncoreSansPro-ThinItalic/PFEncoreSansPro-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-ThinItalic/PFEncoreSansPro-ThinItalic-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-ThinItalic/PFEncoreSansPro-ThinItalic-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-ThinItalic/PFEncoreSansPro-ThinItalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_encore_sans_proultra_thin';
  src: url('fonts/PFEncoreSansPro-UThin/PFEncoreSansPro-UThin-webfont.eot');
  src: url('fonts/PFEncoreSansPro-UThin/PFEncoreSansPro-UThin-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-UThin/PFEncoreSansPro-UThin-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-UThin/PFEncoreSansPro-UThin-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-UThin/PFEncoreSansPro-UThin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_encore_sans_proextrathin';
  src: url('fonts/PFEncoreSansPro-XThin/PFEncoreSansPro-XThin-webfont.eot');
  src: url('fonts/PFEncoreSansPro-XThin/PFEncoreSansPro-XThin-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-XThin/PFEncoreSansPro-XThin-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-XThin/PFEncoreSansPro-XThin-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-XThin/PFEncoreSansPro-XThin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_encore_sans_probold_italic';
  src: url('fonts/PFEncoreSansPro-BoldItalic/PFEncoreSansPro-BoldItalic-webfont.eot');
  src: url('fonts/PFEncoreSansPro-BoldItalic/PFEncoreSansPro-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/PFEncoreSansPro-BoldItalic/PFEncoreSansPro-BoldItalic-webfont.woff2') format('woff2'),
  url('fonts/PFEncoreSansPro-BoldItalic/PFEncoreSansPro-BoldItalic-webfont.woff') format('woff'),
  url('fonts/PFEncoreSansPro-BoldItalic/PFEncoreSansPro-BoldItalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}