/* colors */
$colorWhite : #FFF;
$lightGrey : #E9E9E9;
$normalGrey : #222;
$darkGrey : #191919;
$yellow : #F8DE2E;

/* colors for backgrounds */
$bgDefault : $colorWhite;
$bgLight : $lightGrey;
$bgNormal : $normalGrey;
$bgDark : $darkGrey;
$bgBright : $yellow;

/* colors for Fonts */
$headings : $normalGrey;

/* fonts */
$fontLarge : 'pf_encore_sans_proultra_black';
$fontMedium : 'pf_encore_sans_probold';
$fontLight : 'pf_encore_sans_prolight';