.container--intro {
  .container-inner {
    min-height: 640px;
  }
}
/*-------------------------------------------------- INTRO START -----------------------------------------------------*/
.b-intro {
  padding-left: 8%;
  padding-right: 8%;
  .b-intro__title {
    font-size: 105px;
    line-height: 80px;
    letter-spacing: 3px;
  }
  .b-intro__small {
    font-size: 29px;
    letter-spacing: 1px;
  }
}
/*-------------------------------------------------- INTRO END -------------------------------------------------------*/

/*-------------------------------------------------- VIDEO START -----------------------------------------------------*/
.b-video {
  li {
    padding: 0 1.3%;
    width: 50%;
  }
  .b-video__title {
    width: 94.5%;
  }
}
/*-------------------------------------------------- VIDEO END -------------------------------------------------------*/